* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;  
}

.banner{
    width: 80%;
    height: 70%;
    top: 15%;
    left: 130px;
    position: absolute;
    color: #F5F5EF; 
    font-family: sans-serif;  
}
.web-text{
    width: 50%;
    float: left;
    color: #F5F5EF;
    font-family: sans-serif;  
}
.web-text h1{
    font-size: 45px;
    width: 640px;
    position: relative;
    color: #F5F5EF;
    font-family: sans-serif;  
} 
.web-text p{
    line-height: 25px;
    color: #F5F5EF;
    font-family: sans-serif;  
}
.web-picture{
    width: 50%;
    float: right;
}
.web-picture img{
    width: 50%;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.data-text{
    width: 70%;
    float: left;
    color: #F5F5EF;
}
.data-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    color: #F5F5EF;

}
.data-text p{
    line-height: 25px;
    color: #F5F5EF;

}
.data-text details{
    line-height: 30px;
}
.tab{
    margin-left: 20px;
}
.tab1{
    margin-left: 20px;
}
.data-row{
    width: 40%;
    float: right;
    position: relative;
    right: -130px;
    color: #F5F5EF; 

}
.data-picture{
    width: 50%;
    float: right;
}
.data-picture img{
    width: 50%;
    position: fixed;
    right: 0px;
    bottom: 0px;

}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.datagraphs{
    width: 50%;
    float: right; 
    height: 90%;
    top: -70%;
    right: -60px;
    position: absolute;
}