<!DOCTYPE html>


<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title> Site</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- D3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/pagesstyle.css">

</head>

<body>
  <!-- The div where we'll insert our map -->
  <div id="map"></div>

  <!-- JavaScript file -->
  <!-- <script type="text/javascript" src="logic.js"></script> -->
</body>
</html>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item"> -->
          <!-- <a class="nav-link active" aria-current="page" href="/">Home</a> -->
        <!-- </li> -->

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('data') }}">Data</a>
          <a class="nav-link" href="{{ url_for('map') }}">Map</a>
        </li>

      </ul>
      
    </div>
  </div>
</nav>

<div class="banner">
  <div class="web-text">
      <h1>Chronic Disease in Chicago</h1>
      <br>
      <p>According to the CDC’s National Center for Chronic Disease Prevention and Health Promotion, chronic diseases are the leading causes of death/disability and the leading drivers of the Nation’s $3.8 trillion annual health care costs.</p>
      <br>
      <p>Chronic diseases are among the most common and preventable of all health problems. In it’s 2020 Healthy Chicago Public Health Agenda, the Chicago Department of Public Health identified prevention of chronic disease among its top priority areas.</p>
      <br>
      <p>Our database will allow users to compare demographic and health indicator data to the prevalence of chronic disease in Chicago.</p> 
      <br>
      <p>This database may guide future comprehensive and culturally appropriate preventative intervention, which require a deep understanding of communities that carry the burden of disease.</p>
      <br>
  </p>
  
</div>


</body>

</html>
